:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: black;
    border: 3px solid black;
    height: 50px;
}

.box-items li {
   list-style: none;
   color: white;
}

.box-items-links{
    margin: 10px;
    position: relative;
    float: right;
    font-size: 18px;
    color: white;
    right: 50px;    
    height: 0px;
    font-family: 'Roboto Mono', monospace;
    list-style-type: none;
}

.box-items-links a{
    color: white;
    text-decoration: none;
    position: sticky;
}


.fa-instagram:hover{
    color: #e0a347;
    cursor: pointer;
    opacity: 1;
}
.fa-facebook:hover{
    color: #e0a347;
    cursor: pointer;
}



h5 {
    color: rgb(224, 202, 129);
    position: absolute;
    font-family: 'Mali', cursive;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    font-size: 16px;
    left: 45px;
    margin-bottom: 10px;
}

font{
    color:  rgb(180, 13, 13);
}

font:hover{
    color: rgb(163, 69, 29);
}

.Navbar {
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    height: 100%;
}

.Navbar-items {
    width: -50%;
    text-align: center;
    position: relative;
    font-family: 'barlow', condensed, sans-serif;
    font-size: 20px;
}


.fa-search{
    position: absolute;
    left: 45%;
    top: 10%;
    margin-top: 17px;
}

.fa-user{
    position: absolute;
    left: 49%;
    top: 10%;
    margin-top: 17px;
}

.fa-shopping-cart{
    position: absolute;
    left: 52%;
    top: 10%;
    margin-top: 17px;
}

.fa-shopping-cart:hover{
    color: rgb(180, 13, 13);
}

.fa-user:hover{
    color: rgb(180, 13, 13);
}
.fa-search:hover{
    color: rgb(180, 13, 13);
}

.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}


 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  




@media screen and (max-width: 768px){
    h5{
        font-size: 10px;
    }
    .box-items-links{
        font-size: 12px ;
    }

}

@media screen and (max-width: 620px){
    h5{
        font-size: 8px;
    }
    .box-items-links{
        font-size: 8px ;
    }
    .fa-search{
        font-size: 13px;
        left: 50%;
        margin-top: 17px;
    }
    .fa-user{
        font-size: 10px;
        left: 56%;
        margin-top: 17px;
    }
    .fa-shopping-cart{
        font-size: 10px;
        left: 60%;
        margin-top: 17px;
    }
}
